<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="gravity_background.html">Gravity Background</a></li>
      <li><a href="sdoh_clinical_care_scope.html">SDOH Clinical Care Scope</a></li>
      <li><a href="functional_use_cases.html">Functional Use Cases</a></li>
      <li><a href="technical_background.html">Technical Background</a></li>    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Context<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="survey_instrument_support.html">Survey Instrument Support</a></li>
      <li><a href="mapping_instructions.html">Mapping Instructions</a></li>
      <li><a href="support_for_multiple_domains.html">Support for Multiple Domains</a></li>
      <li><a href="exchange_workflow.html">Exchange Workflow</a></li>    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Specifications<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="fhir_artifacts_overview.html">FHIR Artifacts Overview</a></li>
      <li><a href="checking_task_status.html">Checking Task Status</a></li>
      <li><a href="privacy_and_security.html">Privacy and Security</a></li>
      <li><a href="mustsupport_and_missing_data.html">MustSupport and Missing Data</a></li>    </ul>
  </li>
  <li><a href="downloads.html">Downloads</a></li>

  <li><a href="credits.html">Credits</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
